body{
    box-sizing: border-box;
    background-color: hsl(233, 47%, 7%);
}
.card{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5rem;
  margin-left: 4rem;
  margin-bottom: 5rem;
  margin-right: 4rem;
}


.specia-word{
    color: hsl(277, 64%, 61%);
}

.card-content-img{
    background-color: hsl(277, 64%, 61%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-content-img img{
    display: block;
    width: 553px;
    height: 70vh;   
    mix-blend-mode: multiply;
    opacity: 0.7;
    
        
}

.card-content-insight{
    background-color: hsl(244, 38%, 16%);
    padding: 2rem 4rem 2rem 4rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.card-content-img,.card-content-insight{
    width: 50%
}

.card-content-insight p{
    font-family: 'Lexend deca';
    font-weight: 400;
    color:hsla(0, 0%, 100%, 0.75);
    padding-top: 1rem;
    
}
.card-content-insight>h1{
    font-size: 2.5rem;
    color: white;
    font-family: 'Inter';
    font-weight: 700;
}
.card-content-stat{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    color: hsl(0, 0%, 100%);
    
}

.card-content-stat>h1{
    color: hsla(0, 0%, 100%, 0.6);
}
.Templates{
padding-left: 3rem;
}
.Queries{
padding-left: 3rem;
}
.Companies{
padding-left: 3rem;
}
@media (max-width:640px){
    .card{
        display: flex;
        flex-direction: column;
        margin: auto;
      }

      .card-content-img,.card-content-insight{
        width: 100%
    }
     .card-content-stat{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        color: hsl(0, 0%, 100%);
        justify-content: center;
        align-items: center;
        padding-right: 3.9rem; 
        
    }
    .Queries{
        padding-right: 1.5rem;
    }
    
}